
html    {
    align-items: center;
    justify-content: center;
    background-image: url("../resources/images/minefundo2.jpg");
    background-size: 100%;
    }

    body    {
    margin: 0;
    }

    img {
    
    margin: 0 0 0 15px;

    }

    nav    {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: calc(100vw - 8em);
    height: 5em;

    padding-left: 4em;
    padding-right: 4em;
    position: relative;

    backdrop-filter: blur(10px);
    background-color: rgba(26, 25, 22, 0.9);
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.25);
    list-style: none;

    }

    @font-face { font-family: "Minecraftia"; src: url(../resources/fonts/Minecraftia-Regular.ttf); }
    a   {
    color: rgb(255, 255, 255);
    font-family: Minecraftia;
    font-size: xx-small;
    align-self: center;
    align-content: center;
    font-size: 20px;
    margin: 0 100px 0 0;
    }

    nav li a{
    color: rgb(141, 141, 141);
    font-family: Minecraftia;
    font-size: xx-small;
    font-size: 16px;
    text-decoration:none;
    margin: 0 30px 0 30px;
    padding: 5px 10px 0px 10px;
    }

    nav #login li a{
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin: 0 0 0 80px;
    }

    nav li a:hover{
    background-color: rgba(86, 86, 86, 0.375);
    border-radius: 10px;
    }

    .painellogin {
    margin: 40px auto;

    width: calc(100vw - 80em);
    height: 35em;

    padding-left: 2em;
    padding-right: 4em;
    position: center;

    border-style: inset;
    border-width: 0.25em;

    border-color: grey;
    border-right-color: white;
    border-bottom-color: white;

    background-color: rgb(139, 139, 139);
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.25);
    }

    b   {
    color: rgb(255, 255, 255);
    font-family: Minecraftia;
    font-size: 16px;
    margin-top: 500px;
    }

