/* NEVER USE ABSOLUTE UNITS RAAAAAGGGHH */

html { scroll-behavior: smooth }
a { text-align: center; font-family: Helvetica; }

.highlight { background-color: black; color: white;}
.edgepadding { height: 1em; min-width: 0.5em; }
.fillpadding { height: 1em; width: 100%; }

body
{
    margin: 1em;

    display: flex;
    align-items: center;
    flex-direction: column;

    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../Imagens/fundo.gif);
}

.section
{
    width: 60%;
    height: fit-content;

    padding: 1em;
    margin: 1em;

    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 1em;
    background-color: rgba(30, 42, 64, 0.75);
}
.section ul
{
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 1.5em;
    text-align: center;
    font-family: Helvetica;
}

nav
{
    width: 60%;
    height: fit-content;

    padding: 1em;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    border-radius: 1em;
}
nav a
{
    text-align: center;
    align-content: center;

    color: black;
    font-size: larger;
    font-family: Helvetica;
    text-decoration: none;
    border-radius: 0.5em;

    height: 2em;
    min-width: 8em;
}

.title
{
    text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
    font-size: xx-large;
    color: white;

    height: fit-content;
}

.subtitle
{
    font-size: medium;
    color: rgb(175, 175, 175);
}

.teamphoto
{
    aspect-ratio: 4/3;
    border-radius: 1em;
    width: 80%;
}

.hand
{
    height: 22em;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.card
{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 10em;
    height: fit-content;
    scale: 100%;

    padding: 0.25em;
    border-radius: 0.5em;
    border-style: ridge;
    border-color: rgb(200, 200, 200);
    background-color: white;

    transition: scale 0.2s;

}
.card:hover { scale: 135%; }

.imagelink
{
    aspect-ratio: 1/1;
    margin: 0.5em;

    display: flex;
    align-items: center;
    justify-content: center;
}
.imagelink img
{
    height: 100%;
    width: 100%;

    border-style: solid;
    border-color: gray;
    border-width: 0.25em;
    border-radius: 1em;
}

.profile
{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0.5em;
    min-height: fit-content;
}
.profile a { margin: 0; height: fit-content; text-align: center; font-size: small; }

.contacts
{
    width: 100%;
    display: inline-grid;

    grid-gap: 1em;
    grid-template-columns: auto auto auto auto;

    justify-items: center;
    align-items: center;
}
.contacts a { display: flex; height: 10em; aspect-ratio: 1/1; transition: scale 0.25s; }
.contacts img { object-fit: contain; }
.contacts :hover { scale: 105%; }

.footer
{
    width: fit-content;
    height: fit-content;
    padding: 1em;
    margin: 1em;

    border-radius: 1em;
    background-color: rgba(30, 42, 64, 0.75);
    color: whitesmoke;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#first  { animation-name: focus1; animation-duration: 1s; animation-fill-mode: forwards; }
#second { animation-name: focus2; animation-duration: 1s; animation-fill-mode: forwards; }
#third  { animation-name: focus3; animation-duration: 1s; animation-fill-mode: forwards; }
#fourth { animation-name: focus4; animation-duration: 1s; animation-fill-mode: forwards; }

@keyframes focus1
{
    from { rotate: -8deg; translate: 0 200%; }
    to { rotate: -8deg; translate: 0 5%; }
}

@keyframes focus2
{
    from { rotate: -4deg; translate: 0 200%; }
    to { rotate: -4deg; translate: 0 -5%; }
}

@keyframes focus3
{
    from { rotate: 4deg; translate: 0 200%; }
    to { rotate: 4deg; translate: 0 -5%; }
}

@keyframes focus4
{
    from { rotate: 8deg; translate: 0 200%; }
    to { rotate: 8deg; translate: 0 5%; }
}