body {
    background: url(../resources/images/minefundo2.jpg) !important;
    background-size: 100% !important;
}

.wrapper {
    
    width: 620px;
    height: 870px;
    margin: auto;
    background: linear-gradient(to bottom, rgba(30, 30, 30, .8), rgba(10, 10, 10, .9));
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 20px rgba(0, 0, 0, .4);
    padding: 20px 30px 20px 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

#mine{
    padding-top: 2;

}

.sobre {
    text-align: center;
    font-size: 18px;
    color: #A9A9A9;
    font-family: Minecraftia;
    padding-top: 50px;
    

}

.somos {
    text-align: justify;
    font-size: 10pc !important;
    color: #A9A9A9;
    margin-top: 40px;
    font-family: Minecraftia;
}

.emojis {
    text-align: center;
    font-size: 50pc;
    user-select: none;
    font-family: Segoe UI Emogi, sans-serif;
}






 